<mat-expansion-panel *ngIf="pattern">
  <mat-expansion-panel-header>
    <mat-panel-title style="width: 15%">
      {{pattern.label}}
    </mat-panel-title>
    <mat-panel-description class="text-center" style="width: 55%">

      <div class="col-lg-2 text-left" mat-line>
        <strong>Method:</strong><br> {{pattern.method}}
      </div>
      <div class="col-lg-3 text-left" mat-line>
        <strong>Pattern:</strong><br> {{pattern.pattern}}
      </div>

    </mat-panel-description>
    <div class="text-right" style="width: 30%">

      <button mat-icon-button (click)="$event.stopPropagation();" [routerLink]="['/resource',pattern.id]">
        <mat-icon>show_chart</mat-icon>
      </button>
      <button mat-icon-button (click)="$event.stopPropagation();">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="$event.stopPropagation();">
        <mat-icon>delete</mat-icon>
      </button>

    </div>
  </mat-expansion-panel-header>
  <app-variables-list [variables]="variables"></app-variables-list>
<!--

  <mat-list>
    <strong>Detail Entries</strong>
    <button mat-icon-button (click)="addDetailEntryClicked()"><i class="fa fa-plus"></i></button>
    <mat-list-item mat-line *ngFor="let detailEntry of pattern.detailEntries">
      <h3 mat-line> {{detailEntry.label}} </h3>
      <p mat-line>
        <span> {{detailEntry.entryId}} </span>
      </p>
      <div></div>
      <button mat-icon-button (click)="$event.stopPropagation();">
        <mat-icon class="mat-24">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="$event.stopPropagation();">
        <mat-icon class="mat-24">delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
-->
</mat-expansion-panel>