<div *ngIf="resourceValues && resource" class="container">
    <h1>{{resource.label}}</h1>
    <div>
        <mat-form-field>
            <input matInput [matDatepicker]="fromPicker" placeholder="Von" [value]="startDate" (dateChange)="onStartChange($event)">
            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
            <mat-datepicker #fromPicker startView="year"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="toPicker" placeholder="Bis" [value]="endDate" (dateChange)="onEndChange($event)">
            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
            <mat-datepicker #toPicker startView="year"></mat-datepicker>
        </mat-form-field>
    </div>
    <mat-tab-group *ngIf="lineChartDataArray">
        <mat-tab *ngFor="let entry of resource.entries; let i = index" [label]="entry.label">
            <div class="col-mat-12">
                <canvas baseChart width="400" height="400"
                        #chart
                        style="display: block; height: 500px"
                        [datasets]="lineChartDataArray[i]"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="col-mat-12" style="margin-bottom: 10px">
                <table class="table table-responsive table-condensed">
                    <tr>
                        <th></th>
                        <th *ngFor="let label of lineChartLabels">{{label}}</th>
                    </tr>
                    <tr *ngFor="let d of lineChartDataArray[i]">
                        <th>{{d.label}}</th>
                        <td *ngFor="let d of d.data">{{d}}</td>
                    </tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>