
<mat-card class="small-dashboard-card">


  <mat-icon style="color: #ccc;">show_chart</mat-icon>

  <mat-card-header class="header">
    <mat-card-subtitle>{{pattern.label}}</mat-card-subtitle>
    <mat-card-title style="margin-left: 32px; font-size: 18pt">{{statisticCount}}</mat-card-title>
  </mat-card-header>



  <hr class="content-divider">
  <mat-card-content class="centered-inline-container">

    <mat-icon class="centered-inline info icon space-right">code</mat-icon>
    <span class="centered-inline space-right info">{{pattern.method}}</span>
    <span class="centered-inline info">{{pattern.pattern}}</span>
  </mat-card-content>
</mat-card>