<mat-sidenav #sidenav>
  <div class="nav-header">
    <button mat-icon-button (click)="sidenav.close()" class="pull-right"><i class="fa fa-bars"></i></button>
    <h3>LWM Statistics</h3>
  </div>
  <div class="clearfix"></div>
  <mat-nav-list *ngIf="navItems">
    <mat-list-item *ngFor="let navItem of navItems" [routerLink]="navItem.route" (click)="sidenav.close()">
      <a mat-line>{{navItem.label}}</a>
    </mat-list-item>
    <mat-list-item *ngIf="ressources" [matMenuTriggerFor]="menu">
      <a mat-line>Ressourcen</a>
    </mat-list-item>
  </mat-nav-list>

  <mat-menu #menu="matMenu" [xPosition]="'before'">
    <button *ngFor="let res of ressources" mat-menu-item [routerLink]="['/resource', res.id]" (click)="sidenav.close()">{{res.label}}</button>
  </mat-menu>

</mat-sidenav>

<button mat-icon-button (click)="sidenav.open()"><i class="fa fa-bars"></i></button>