md-sidenav{
    height: 100%;
    width: 250px;
}

md-sidenav > .nav-header{
    padding: 16px;
    background: url("../../assets/header_bg.png") center;
    background-size: cover;
    height: 150px;
    color: white;
}