<div>

    <div>
        <h3 class="theme-header">Details</h3>
        <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filter users">
        </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="statisticSource" matSort>

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> <span [matTooltip]="row.payload">{{row.id}}</span> </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="created">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Datum </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.created | amDateFormat: 'DD.MM.YYYY hh:mm [Uhr]'}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="payload">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Payload </mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.payload}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="exampleDatabase.data.length"
                       [pageIndex]="0"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>

</div>