<h2 mat-dialog-title>Neuer Resource Eintrag</h2>
<div class="clearfix"></div>

<form [formGroup]="resourceEntryForm" #resForm (submit)="submit()">
  <mat-form-field>
    <input formControlName="label" matInput required placeholder="Label">
    <mat-hint>Label dieses Eintrags</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input formControlName="id" matInput required  placeholder="Id">
    <mat-hint>Id dieses Eintrags</mat-hint>
  </mat-form-field>
  <div mat-dialog-actions style="margin-top: 32px">
    <button type="submit" mat-raised-button color="accent" [disabled]="!resForm.checkValidity()"><i class="fa fa-save"></i> Speichern</button>
  </div>
</form>