<h2 mat-dialog-title>Neue Resource</h2>
<div class="clearfix"></div>

<form [formGroup]="resourceForm" #resForm (submit)="submit()">
    <mat-form-field>
        <input formControlName="label" matInput required [errorStateMatcher]="myErrorStateMatcher" placeholder="Label">
        <mat-error>This field is required</mat-error>
        <mat-hint>Label dieser Resource</mat-hint>
    </mat-form-field>
    <mat-select [formControlName]="'method'" placeholder="Methode" [value]="getMethods()[0]">
        <mat-option *ngFor="let method of getMethods()" [value]="method">{{ method }}</mat-option>
    </mat-select>
    <br>
    <mat-form-field>
        <input formControlName="filter" matInput required [errorStateMatcher]="myErrorStateMatcher" placeholder="Filter">
        <mat-error>This field is required</mat-error>
        <mat-hint>Bsp.: /api2/course/</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input formControlName="detail" matInput required [errorStateMatcher]="myErrorStateMatcher" placeholder="Detail">
        <mat-error>This field is required</mat-error>
        <mat-hint>Detail der Resource. Bsp.: labworks => /api2/course/:id/labworks/:id</mat-hint>
    </mat-form-field>
    <div mat-dialog-actions style="margin-top: 32px">
        <button type="submit" mat-raised-button color="accent" [disabled]="!resForm.checkValidity()"><i class="fa fa-save"></i> Speichern</button>
    </div>
</form>